* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: tomato;
}

section {
  border: solid 5px yellow;
  display: flex;
  justify-content: space-around;

  img {
    width: 30%;
    height: 40vh;
  }
}

//@media (condição) {
//Estilos que queremos
//}
// Significa que dentro dessa mídia query só serão aplicados estilos quando a largura da tela for menor ou igual a 300px.

@media (max-widht: 300px) {
  body {
    background-color: purple;
  }

  h1 {
    color: yellow;
  }

  p {
    color: white;
  }
  section {
    flex-direction: column;

    img {
      width: 90%;
    }
  }
}

@media (min-widht: 301px) and (max-widht: 800px) {
  body {
    background-color: aqua;
  }
  section {
    flex-direction: column;
  }
}

@media (max-widht: 163px) {
  body {
    background-color: pink;
  }
  h1 {
    color: red;
  }
  p {
    color: black;
  }
}
